*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
div.divider hr{
    border: 3px solid;
}

div.divider i{
    font-size: 1.5rem;
}
/* FINE COMMONS */

/* HEADER */
header{
    background-color: #2C3F4F;
    color: white;
}

header .container span{
    font-size: 1.5rem;
    font-weight: 500;
}

header .container ul li{
    list-style: none;
    color: white;
}

header .container ul li a{
    color: white;
    text-decoration: none;
}
/* FINE HEADER */

/* HERO SECTION */
#hero{
    background-color: #1CBC9B;
    color: white;
}

#hero .container img{
    width: 100%;
}

#hero .container h1{
    font-size: 3.5rem;
}

#hero .container h2{
    font-size: 1.5rem;
}
/* FINE HERO SECTION */

/* PORTFOLIO */
#portfolio{
    text-transform: uppercase;
    color: #2C3F4F;
}

#portfolio h2{
    font-size: 2.5rem;
}

#portfolio img{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}
/* FINE PORTFOLIO */

/* Sezione About */
#about{
    background-color: #1CBC9B;
    color: white;
}

#about h2{
    font-size: 2.5rem;
}

#about button{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 15px;
}
/* Sezione About */